PORT=4000
DATABASE_URL=postgres://postgres:secretpassword@postgres:5432/smarthome?schema=public
MQTT_BROKER_URL=mqtt://emqx:1883
CLIENT_URL=http://localhost:3000
JWT_SECRET=doi_chuoi_bi_mat_nay_khi_trien_khai
JWT_EXPIRES_IN=1d
